*.Rdata binary
*.RData binary
*.rda binary
*.rdb binary
*.rds binary
*.Rd text
*.Rdx binary
*.Rmd text
*.R text
*.Rproj text
*.[Rr]md linguist-detectable

inst/*  -linguist-detectable
inst/fex/fexsend  -linguist-detectable
